<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Edit Post</title>
  </head>
  <body>
    <main>
      <div class="authOptions">
        <h1>Edit Post</h1>
        <a role="button" href="/posts">Home</a>
      </div>

      <hr />

      <form action="/posts/edit/<%= post.id %>" method="post">
        <label>
          Title
          <input type="text" name="title" value="<%= post.title %>" required />
        </label>
        <label>
          Link
          <input type="text" name="link" value="<%= post.link %>" required />
        </label>
        <label>
          Description
          <textarea name="description" required><%= post.description %></textarea>
        </label>
        <label>
          Subgroup
          <select name="subgroup">
            <% subs.forEach(sub => { %>
              <option value="<%= sub %>" <%= sub === post.subgroup ? 'selected' : '' %>><%= sub %></option>
            <% }) %>
          </select>
        </label>
        <button type="submit">Save Changes</button>
      </form>

    </main>
  </body>
</html>
